sphinx
sphinx-rtd-theme
myst-parser
pydoc-markdown
sphinx_autodoc_typehints
sphinx_fontawesome
sphinx_click
sphinx_multiversion
sphinx_tabs
sphinx_substitution_extensions
sphinx_togglebutton
sphinx-prompt
logging
docutils
packaging
recommonmark
setuptools